<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{layouts/head :: head}"></div>

<body>
<div class="wrapper">

    <!-- Sidebar -->
    <div th:insert="~{layouts/bars :: sidebar}"></div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <!-- Navbar -->
        <div th:replace="~{layouts/bars :: navbar}"></div>
        <!-- End Navbar -->

        <div th:replace="~{layouts/bars :: flash}"></div>

        <div class="content">
            <div class="container-fluid">
                <form name='f' th:action="@{${action}}" th:object="${product}" method='POST'>
                    <input type="hidden" th:field="*{id}"/>

                    <div class="row align-content-center">
                    <div class="col-md-9">
                            <div class="card">
                            <div class="card-header-warning">
                                <h4 class="card-title" th:text="${heading}">Shto nje produkt</h4>
                                <div class="error card-category-social" th:if="${flash != null}" th:text="${flash}"></div>
                                <div class="error card-category-social" th:if="${#fields.hasAnyErrors()}" th:errors="*"></div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="product_name" class="bmd-label-floating">Emer</label>
                                                <input id="product_name" type="text" class="form-control" th:field="*{name}">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Barkod</label>
                                                <input type="text" th:field="*{barcode}" class="form-control" pattern="\d*" minlength="12" maxlength="12">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Kategori</label>
                                                <select class="form-control" th:field="*{category.id}">
                                                    <option th:each="cat : ${categories}"
                                                            th:value="${cat.id}"
                                                            th:text="${cat.name}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Sasi</label>
                                                <input type="number" th:field="*{amount}" class="form-control" value="1" min="1" max="999">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Njesi</label>
                                                <select class="form-control" th:field="*{measuringUnit.id}">
                                                    <option th:each="mu : ${measuringUnits}"
                                                            th:value="${mu.id}"
                                                            th:text="${mu.symbol}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="bmd-label-floating">Cmim</label>
                                                <input type="text" th:field="*{price}" pattern="[\d\.]*" class="form-control"  value="1" min="1" max="999">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" th:text="${submit}" class="btn btn-outline-success pull-right">Shto Produktin</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>