<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{layouts/head :: head}"></div>

<body>

<div class="wrapper">
    <!-- Sidebar -->
    <div th:insert="~{layouts/bars :: sidebar}"></div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <!-- Navbar -->
        <div th:replace="~{layouts/bars :: navbar}"></div>
        <!-- End Navbar -->

        <div th:fragment="flash" th:if="${session.flash != null}" th:text="${session.flash}"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <a th:href="@{/products/create}">
                            <button class="btn btn-primary" style="float: right; margin-right: 15px;">
                                Shto nje Produkt
                            </button>
                        </a>
                    </div>

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <h4 class="card-title "> Produkt </h4>
                                <p class="card-category"> Liste e te gjitha produkteve </p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <th class="medium"> Emer</th>
                                        <th class="medium"> Barkod</th>
                                        <th class="medium"> Cmim</th>
                                        <th class="medium"> Sasi</th>
                                        <th class="medium"> Veprime</th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="product : ${products}">
                                            <td class="medium" th:text="${product.name}"></td>
                                            <td class="medium" th:text="${product.barcode}"></td>
                                            <td class="medium" th:text="${product.price}"></td>
                                            <td class="medium"
                                                th:text="|${product.amount} ${product.measuringUnit.name}|"></td>
                                            <td class="medium">
                                                <ul class="">
                                                    <li>
                                                        <form th:action="@{|/products/${product.id}/edit|}"
                                                              method="post">
                                                            <button class="btn btn-warning" type="submit"> Modifiko
                                                            </button>
                                                        </form>
                                                    </li>
                                                    <li>
                                                        <form th:action="@{|/products/${product.id}/delete|}"
                                                              method="post">
                                                            <button class="btn btn-danger" type="submit"> Fshi</button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="error" th:if="${flash != null}" th:text="${flash}"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>