<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{layouts/head :: head}"></div>
<body>
<div class="wrapper">

    <!-- Sidebar -->
    <div th:insert="~{layouts/bars :: sidebar}"></div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <!-- Navbar -->
        <div th:replace="~{layouts/bars :: navbar}"></div>
        <!-- End Navbar -->

        <div th:replace="~{layouts/bars :: flash}"></div>

        <div class="content">
            <div class="container-fluid">
                <form name='f' th:action="@{${action}}" th:object="${warehouse}" method='POST'>
                    <input type="hidden" th:field="*{id}"/>

                    <div class="row align-content-center">
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-header-warning">
                                    <h4 class="card-title" th:text="${heading}">Shto nje Magazine</h4>
                                    <div class="error card-category-social" th:if="${flash != null}" th:text="${flash}"></div>
                                    <div class="error card-category-social" th:if="${#fields.hasAnyErrors()}" th:errors="*"></div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="warehouse_name" class="bmd-label-floating">Emer</label>
                                                <input id="warehouse_name" type="text" class="form-control" th:field="*{name}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="warehouse_city" class="bmd-label-floating">Qytet</label>
                                                <select id="warehouse_city" class="form-control" th:field="*{city}" required>
                                                    <option value="" selected>Zgjidhni Qytetin</option>
                                                    <option value="Durres">Durres</option>
                                                    <option value="Elbasan">Elbasan</option>
                                                    <option value="Lezhe">Lezhe</option>
                                                    <option value="Sarande">Sarande</option>
                                                    <option value="Shkoder">Shkoder</option>
                                                    <option value="Tirane">Tirane</option>
                                                    <option value="Vlore">Vlore</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="warehouse_address" class="bmd-label-floating">Adresa</label>
                                                <input id="warehouse_address" type="text" class="form-control" th:field="*{address}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="warehouse_image" class="bmd-label-floating">Imazh [URL]</label>
                                                <input id="warehouse_image" type="text" class="form-control" th:field="*{image}" required>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" th:text="${submit}" class="btn btn-outline-success pull-right">Shto Magazinen</button>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>