<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<div th:replace="~{layouts/head :: head}"></div>

<body>

<!--<div class="wrapper">-->
    <!-- Sidebar -->
    <div th:insert="~{layouts/bars :: sidebar}"></div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <!-- Navbar -->
        <div th:replace="~{layouts/bars :: navbar}"></div>
        <!-- End Navbar -->

        <div th:fragment="flash" th:if="${session.flash != null}" th:text="${session.flash}"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12" sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/warehouses/create}">
                            <button class="btn btn-outline-success" style="float: right; margin-right: 15px;">
                                Shto nj&#235 Magazin&#235
                            </button>
                        </a>
                        <div class="error card-category-social" th:if="${flash != null}" th:text="${flash}"></div>
                    </div>

                    <div class="col-sm-12 col-md-4" th:each="warehouse : ${warehouses}">
                        <div class="card card-chart">
                            <div class="card-header card-header-success warehouse-header">
                                <img class="crop-and-center" th:src="@{${'images/' + warehouse.image}}"/>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title" th:text="${warehouse.name}"></h4>
                                <p class="card-category">
                                    <span class="text-success" th:text="${warehouse.city}">
                                        <i class="fa fa-long-arrow-up"></i>
                                    </span>
                                </p>
                                <p>
                                    <span class="text-dark" th:text="${warehouse.address}"></span>
                                </p>
                            </div>
                            <div class="card-footer">
                                <div style="width: 100%">
                                    <ul>
                                        <li>
                                            <a
                                               th:href="@{|/warehouses/checkout/${warehouse.id}|}" class="btn btn-info"
                                               th:class="${warehouse.name == currentWarehouse.name} ? 'btn btn-outline-info' : 'btn btn-info'"
                                               th:text="${warehouse.name == currentWarehouse.name} ? 'Zgjedhur' : 'Zgjidh'">
                                            </a>
                                        </li>
                                        <li>
                                            <a th:href="@{|/warehouses/${warehouse.id}/edit|}" class="btn btn-warning">Modifiko</a>
                                        </li>
                                        <li>
                                            <form th:action="@{|/warehouses/${warehouse.id}/delete|}"
                                                  method="post">
                                                <button class="btn btn-danger" type="submit"> Fshi</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<a th:href="@{/warehouses/create}">Add a warehouse</a>-->

<!--<div th:replace="~{layouts/bars :: flash}"></div>-->

<!--<ul th:each="warehouse : ${warehouses}">-->
    <!--<li>-->
        <!--<a th:href="@{|/warehouses/checkout/${warehouse.id}|}" th:text="${warehouse.name}"></a>-->

        <!--<form th:action="@{|/warehouses/${warehouse.id}/delete|}" method="post">-->
            <!--<button type="submit">Delete</button>-->
        <!--</form>-->
    <!--</li>-->
<!--</ul>-->

</body>

</html>