<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" type="text/css" media="all"-->
    <!--href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>

<p>Welcome to our grocery store!</p>
<a th:href="@{/warehouses/create/(warehouseId=${currentWarehouse.id})}">Add a warehouse</a>

<div th:fragment="flash" th:if="${flash != null}" th:text="${flash.message}"></div>

<ul th:each="warehouse : ${warehouses}">
    <li>
        <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
           th:href="${urlBuilder.replaceQueryParam('warehouseId', warehouse.id).toUriString()}"
           th:text="${warehouse.name}"></a>

        <form th:action="@{/warehouses/{deleteWarehouseId}/delete/(warehouseId=${currentWarehouse.id}, deleteWarehouseId=${warehouse.id})}" method="post">
            <button type="submit">Delete</button>
        </form>

    </li>
</ul>

</body>

</html>