<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" type="text/css" media="all"-->
    <!--href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>

<p>Welcome to our grocery store!</p>
<a th:href="@{/warehouses/create}">Add a warehouse</a>

<div th:replace="~{layouts/bars :: flash}"></div>

<ul th:each="warehouse : ${warehouses}">
    <li>
        <a th:href="@{|/warehouses/checkout/${warehouse.id}|}" th:text="${warehouse.name}"></a>

        <form th:action="@{|/warehouses/${warehouse.id}/delete|}" method="post">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

</body>

</html>