<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Good Thymes Virtual Grocery</title>
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/supply/form.js}"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--<h1>Add Supply</h1>-->
<form method="post" action="#" th:action="@{/supplies/create}" th:object="${supply}">
    <table style="border: 1px solid #666; width: 100%;height: 100%">
        <thead>
        <tr>
            <th style="width:30%;border: 1px solid #666;">
                <input type="date" th:field="*{date}">

                <!--<button type="submit" name="addRow" th:text="'Add Row'">Add row</button>-->
            </th>
            <th style="width:30%;border: 1px solid #666">
                <input type="number" th:field="*{invoiceNumber}">

                <!--<button type="submit" name="addRow" th:text="'Add Row'">Add row</button>-->
            </th>
            <th style="width:40%;border: 1px solid #666">
                <button id="addUnits" name="addRow" th:text="'Add Row'">Add row</button>
            </th>
        </tr>
        </thead>
        <!--<tbody>-->
        <tbody id="supplyUnitObject">
        <tr th:each="ptu :*{productTransactionUnits}">
            <td>
                <label>Category:</label>
                <!--<select th:field="*{ptu.product.id}">-->
                    <!--<option th:each="product : ${products}"-->
                            <!--th:value="${product.id}"-->
                            <!--th:utext="${product.name}"/>-->
                <!--</select>-->
            </td>
            <td>Price: <input type="number" th:field="*{ptu.price}"/></td>
            <td> Amount: <input type="number" th:field="*{ptu.amount}"/></td>
        </tr>
        </tbody>
    </table>
    <input type="submit" name="submit" value="Add" class="btn btn-danger"/>
</form>


</body>

</html>