<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{layouts/head :: head}">
</div>

<body>
<script type="text/javascript" th:src="@{/js/knockout.js}"></script>
<script type="text/javascript" th:src="@{/js/supply/form_old.js}"></script>

<!--<h1>Add Supply</h1>-->
<form name="supply-form" method="post">
    <table style="border: 1px solid #666; width: 100%;height: 100%">
        <thead>
        <tr>
            <th style="width:30%;border: 1px solid #666;">
                <label for="currentDate">Data</label>
                <input type="date" id="currentDate" data-bind="value:date">
            </th>
            <th style="width:30%;border: 1px solid #666">
                <label for="invoiceNumber">Nr:fature</label>
                <input type="number" id="invoiceNumber" data-bind="value:invoiceNumber">

            </th>
            <th style="width:40%;border: 1px solid #666">
                <button data-bind="click:addSupplyUnit">Shto</button>
            </th>
        </tr>
        </thead>
        <tbody id="supplyUnitObject" data-bind="foreach: ptus">
        <tr>
            <td>Price: <input data-bind="value:product" type="number"/></td>
            <!--<select data-bind=>-->
            <!--<option th:each="product : ${products}"-->
            <!--th:value="${product.id}"-->
            <!--th:text="${product.name}"/>-->
            <!--</select>-->
            <td>Price: <input data-bind="value:price" type="number"/></td>
            <td> Amount: <input type="number" data-bind="value:amount"/></td>
        </tr>
        </tbody>
    </table>
    <!--<input type="button" name="submit" value="Add" class="btn btn-danger"/>-->
    <input type="button" name="save" value="Save" data-bind="click:save" class="btn btn-danger"/>
</form>


</body>

</html>