<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<div th:replace="~{layouts/head :: head}"></div>

<body>

<div class="wrapper">
    <!-- Sidebar -->
    <div th:insert="~{layouts/bars :: sidebar}"></div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <!-- Navbar -->
        <div th:replace="~{layouts/bars :: navbar}"></div>
        <!-- End Navbar -->

        <div th:fragment="flash" th:if="${session.flash != null}" th:text="${session.flash}"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12" sec:authorize="hasRole('ADMIN')">
                        <a th:href="@{/supplies/create}">
                            <button class="btn btn-outline-success" style="float: right; margin-right: 15px;">
                                Shto nje furnizim
                            </button>
                        </a>
                    </div>

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-info">
                                <h4 class="card-title "> Furnizime </h4>
                                <p class="card-category"> Te gjitha furnizimet per kete magazine </p>
                                <div class="error card-category-social" th:if="${flash != null}"
                                     th:text="${flash}"></div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                        <th class="main"> Nr. i Fatures</th>
                                        <th class="main"> Data</th>
                                        <th class="main"> Furnitori</th>
                                        <th class="medium" sec:authorize="hasRole('ADMIN')"> Veprime</th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="supply : ${supplies}">
                                            <td class="main">
                                                <a th:href="@{|/supplies/${supply.id}/details|}"
                                                   th:text="${supply.invoiceNumber}"/>
                                            </td>
                                            <td class="main" th:text="${#dates.format(supply.date, 'dd-MM-yyyy')}"></td>
                                            <td class="main" th:text="${supply.agent.businessName}"></td>
                                            <td class="medium" sec:authorize="hasRole('ADMIN')">
                                                <ul class="">
                                                    <li>
                                                        <form th:action="@{|/supplies/${supply.id}/delete|}"
                                                              method="post">
                                                            <button class="btn btn-danger" type="submit"> Delete
                                                            </button>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>