<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{layouts/head :: head}"></div>
<body>
<div class="wrapper">

    <!-- Sidebar -->
    <div th:insert="~{layouts/bars :: sidebar}"></div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <!-- Navbar -->
        <div th:replace="~{layouts/bars :: navbar}"></div>
        <!-- End Navbar -->

        <div th:replace="~{layouts/bars :: flash}"></div>

        <div class="content">
            <div class="container-fluid">
                <form name='f' th:action="@{${action}}" th:object="${customer}" method='POST'>
                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:value="C" th:name="type" />
                    <div class="row align-content-center">
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-header-warning">
                                    <h4 class="card-title" th:text="${heading}">Modifiko nj&#235 Klient</h4>
                                    <div class="error card-category-social" th:if="${flash != null}" th:text="${flash}"></div>
                                    <div class="error card-category-social"  th:errors="*"></div>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="supplier_firstName" class="bmd-label-floating">Em&#235r</label>
                                                    <input id="supplier_firstName" type="text" class="form-control" th:field="*{firstName}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="supplier_lastName" class="bmd-label-floating">Mbiem&#235r</label>
                                                    <input id="supplier_lastName" type="text" class="form-control" th:field="*{lastName}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="supplier_businessName" class="bmd-label-floating">Em&#235r Tregtar</label>
                                                    <input id="supplier_businessName" type="text" class="form-control" th:field="*{businessName}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="supplier_email" class="bmd-label-floating">Email</label>
                                                    <input id="supplier_email" type="text" class="form-control" th:field="*{email}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Adresa</label>
                                                    <input type="text" th:field="*{address}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Gjer&#235si</label>
                                                    <input type="text" id="latitude" th:field="*{latitude}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Gjat&#235si</label>
                                                    <input type="text" id="longitude" th:field="*{longitude}" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div id="googleMap" style="height: 200px;"></div>

                                        <div class="mt-4">
                                            <button type="submit" th:text="${submit}" class="btn btn-outline-success" style="float: right;">Shto Klientin</button>
                                            <div class="clearfix"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--scripts-->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyABp5fIvtpine_4YdA9YWHnM5VfjKl-HJo&sensor=false">
</script>

<script type="text/javascript">
    var map;
    var myCenter = new google.maps.LatLng(41.3275, 19.8187);

    function initialize() {
        var mapProp = {
            center: myCenter,
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
        map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        google.maps.event.addListener(map, 'click', function (event) {
            removeMarker(event.latLng, marker);
            getPosition(event.latLng['lat'](), event.latLng['lng'](), marker, map);
        });
    }

    function getPosition(lat, lng, marker, map) {
        document.getElementById("latitude").value = lat.toFixed(6);
        document.getElementById("longitude").value = lng.toFixed(6);

        var location = {lat: lat, lng: lng};
        marker.setPosition(location);
        marker.setMap(map)


    }

    function removeMarker(location, marker) {
        marker.setMap(null);

        // var infowindow = new google.maps.InfoWindow({
        //     content: "Latitude: " + location.lat() + "<br>Longitude: " + location.lng()
        // });
        // infowindow.open(map, marker);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

</body>
</html>


<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCzyzPghQBf1QlWx9TAXFAerR8fgpVaUIQ&sensor=false">
</script>

<script>
    var map;
    var myCenter = new google.maps.LatLng(41.3275, 19.8187);

    function initialize() {
        var mapProp = {
            center: myCenter,
            zoom: 5,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
            getPosition(event.latLng['lat'](), event.latLng['lng']());
        });
    }


    function getPosition(lat, lng) {
                  return $("#id_location").val("Lat: "+ lat, " , Lng: "+ lng)

                    }
            google.maps.event.addDomListener(window, 'load', initialize);
        </script>

</script>
-->
