<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{layouts/head :: head}"></div>

<body>
<div class="wrapper">

    <!-- Sidebar -->
    <div th:insert="~{layouts/bars :: sidebar}"></div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <!-- Navbar -->
        <div th:replace="~{layouts/bars :: navbar}"></div>
        <!-- End Navbar -->

        <div th:replace="~{layouts/bars :: flash}"></div>

        <div class="content">
            <div class="container-fluid">
                <form name='f' th:action="@{/suppliers/create}" th:object="${supplier}" method='POST'>

                    <input type="hidden" th:value="S" th:name="type" />

                    <div class="row align-content-center">
                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-header-warning">
                                    <h4 class="card-title">Shto nje Furnitor</h4>
                                    <div class="error card-category-social" th:if="${flash != null}" th:text="${flash}"></div>
                                    <div class="error card-category-social"  th:errors="*"></div>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="supplier_firstName" class="bmd-label-floating">Emer</label>
                                                    <input id="supplier_firstName" type="text" class="form-control" th:field="*{firstName}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="supplier_lastName" class="bmd-label-floating">Mbiemer</label>
                                                    <input id="supplier_lastName" type="text" class="form-control" th:field="*{lastName}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="supplier_businessName" class="bmd-label-floating">Emer Tregtar</label>
                                                    <input id="supplier_businessName" type="text" class="form-control" th:field="*{businessName}">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="supplier_email" class="bmd-label-floating">Email</label>
                                                    <input id="supplier_email" type="text" class="form-control" th:field="*{email}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Adresa</label>
                                                    <input type="text" th:field="*{address}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Gjeresi</label>
                                                    <input type="text" id="latitude" th:field="*{latitude}" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Gjatesi</label>
                                                    <input type="text" id="longitude" th:field="*{longitude}" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div id="googleMap" style="height: 200px;"></div>

                                        <button type="submit" class="btn btn-primary pull-right">Shto Furnitorin</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script th:inline="javascript" type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyABp5fIvtpine_4YdA9YWHnM5VfjKl-HJo&sensor=false"></script>
<script th:inline="javascript" type="text/javascript" th:src="@{/js/agent/supplier_form.js}"></script>

</body>
</html>