<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:replace="~{layouts/head :: head}"></div>

<body>
<div class="wrapper">

    <!-- Sidebar -->
    <div th:insert="~{layouts/bars :: sidebar}"></div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <!-- Navbar -->
        <div th:replace="~{layouts/bars :: navbar}"></div>
        <!-- End Navbar -->

        <div class="content">
            <div class="container-fluid">
                <form name='f' th:action="@{${action}}" th:object="${category}" method='POST'>
                    <input type="hidden" th:field="*{id}"/>
                    <div class="row align-content-center">

                        <div class="col-md-9">
                            <div class="card">
                                <div class="card-header-warning">
                                    <h4 class="card-title" th:text="${heading}">Shto nje kategori</h4>
                                    <div class="error card-category-social" th:if="${flash != null}" th:text="${flash}"></div>
                                    <div class="error card-category-social" th:if="${#fields.hasAnyErrors()}" th:errors="*"></div>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="category_name" class="bmd-label-floating">Emer</label>
                                                    <input id="category_name" type="text" class="form-control" th:field="*{name}">
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" th:text="${submit}"  class="btn btn-primary pull-right">Shto Kategorine</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </form>
</div>
        </div></div>
</div></div>
</form>
</body>
</html>