<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layouts/head :: head"></head>
<body>
<!--<div class="sidebar login" data-color="white" data-background-color="red" data-image="/images/sidebar-1.jpg">-->
    <!--<div class="logo">-->
        <!--<a href="/" class="simple-text logo-normal">-->
            <!--Magazina-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="sidebar-wrapper">-->
        <!--&lt;!&ndash;<p class="card-category" style="margin: 20px; font-weight: 300; font-style: italic; color: whitesmoke; font-size: 13px; position: absolute; top: 30px;">&ndash;&gt;-->
            <!--&lt;!&ndash;"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla placerat lobortis tristique.&ndash;&gt;-->
            <!--&lt;!&ndash;Suspendisse quis aliquet augue. Nulla varius purus quam, consequat pharetra neque maximus eget.&ndash;&gt;-->
            <!--&lt;!&ndash;Pellentesque elementum sodales odio non finibus."&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--<ul class="nav">-->
            <!--<li class="nav-item active-pro">-->
                <!--<a class="nav-link" href="./contact">-->
                    <!--<p>Kontakt</p>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="sidebar-background" style="background-image: url('/images/sidebar.jpg')"></div>-->
<!--</div>-->
<div class="main-panel">
    <div class="content">
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-7">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Hyr</h4>
                            <p class="card-category">Vendosni username dhe fjal&#235kalimin tuaj</p>
                        </div>
                        <div class="card-body login">
                            <div th:replace="layouts/bars :: flash"></div>
                            <form th:action="@{/login}" th:object="${user}" method="post" class="login">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <div class="row" style="padding: 0 40px;">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Username</label><br/>
                                            <input th:field="*{username}" required class="form-control login"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Fja&#235Bkalim</label><br/>
                                            <input type="password" th:field="*{password}" required class="form-control login"/>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-outline-danger login-btn">Hyr</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>